@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="bg-m-white">Confirm Email</h2>
<div>
    <p class="bg-m-white">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Index", "IUALogin", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- User name -->
    <div class="lockscreen-name">John Doe</div>

    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
            <img src="../../dist/img/user1-128x128.jpg" alt="User Image">
        </div>
        <!-- /.lockscreen-image -->
        <!-- lockscreen credentials (contains the form) -->
        <form class="lockscreen-credentials">
            <div class="input-group">
                <input type="password" class="form-control" placeholder="password">

                <div class="input-group-btn">
                    <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                </div>
            </div>
        </form>
        <!-- /.lockscreen credentials -->
    </div>
    <div class="lockscreen-footer text-center">
        Copyright © 2014-2016 <b><a href="https://adminlte.io" class="text-black">Almsaeed Studio</a></b><br>
        All rights reserved
    </div>
</div>

